@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* cursore */
.cursorGrow {
  width: 50px;
  height: 50px;
  background: #fff;
  mix-blend-mode: difference;
  border: none;
}
/* portfolioh1 text */
.portfolioh1 {
  line-height: 1;
  display: flex;
  color: transparent;
  -webkit-text-stroke: 3px #000;
  letter-spacing: 0.1em;
  font-weight: 800px;
  text-align: center;
  visibility: hidden;
  overflow: hidden;
}

/* responsive mobile larze devices*/
@media (min-width: 768px) {
  .portfolioh1 {
    -webkit-text-stroke: 3px #000;
  }
}
/* responsive mobile smaller devices*/

@media (max-width: 767px) {
  .portfolioh1 {
    -webkit-text-stroke: 1.5px #000;
  }
}

/* animation text */
.span::before {
  content: attr(data-char);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-110%);
  color: #000;
  border: none;
}
/* stroke */
.stroke {
  -webkit-text-stroke: 3px #000;
  /* color: transparent; */
}
/* frelance text */
.freelance {
  color: black;
  -webkit-text-stroke: 3px #000;
  font-weight: 900;
  line-height: 1;

  /* transform: "translateX(-350%)"; */
}

/* span */
.spantextfreelance {
  color: transparent;
  -webkit-text-stroke: 3px #000;
  font-weight: 900;
  line-height: 1;
}
.h1text {
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 3px #b9b9b9;
  font-weight: 900;
  line-height: 1;
}
.h1textcontact {
  color: transparent;
  -webkit-text-stroke: 2px #000000;
  font-weight: 900;
  line-height: 1;
}

/* responsive mobile larze devices*/
@media (min-width: 768px) {
  .h1textcontact {
    -webkit-text-stroke: 2px #000;
  }
}
/* responsive mobile smaller devices*/

@media (max-width: 767px) {
  .h1textcontact {
    -webkit-text-stroke: 1px #000;
  }
}
.footerh1 {
  color: #000;
  -webkit-text-stroke: 3px #000;
  font-weight: 900;
  line-height: 1;
}
